---
layout: default
title: Home
---

.posts[style="margin-top: -2rem"]
  img src="/public/face.jpg" style="width: 81px; float: right"
  h1 Hi!
  markdown:

    My name is Adam Stankiewicz.

    I love Open Source. I develop or maintain following projects:

      - [Bower][] - frontend assets manager (core team member)
      - [Rails Assets][] - a proxy between Bower and Bundler
      - [Vim Polyglot][] - a solid language pack for Vim
      - [Vimrc][] - plugin serving as foundation of vim configuration
      - [S3 File Field][] - direct uploading to Amazon S3 using CORS
      - [Filelock][] - file locking solution using flock command
      - [Sublime Wombat Theme][] - pretty and configurable theme for ST3
      - [Rails 4 Bootstrap][] - properly configured Rails 4 application
      - [RSpec Gherkin][] - a semantic bridge between Gherkin and RSpec
      - [Extension Auto Reloader][] - for developing extensions in Chrome
      - [Dotfiles][] - Probably the best dotfiles on the web ;-)
      - [Wordnet][] - a large network of words (made for bachelor's degree)

    I couch [Rails Girls][], organize [Meet.js][], sometimes I do [public speaking](https://speakerdeck.com/sheerun).

      [Monterail.com]: http://monterail.com
      [Bower]: http://bower.io
      [Wordnet]: https://github.com/wordnet/wordnet
      [Rails Assets]: http://github.com/rails-assets/rails-assets
      [Vim Polyglot]: http://github.com/sheerun/vim-polyglot
      [Vimrc]: http://github.com/sheerun/vimrc
      [S3 File Field]: http://github.com/sheerun/s3-file-field
      [Filelock]: http://github.com/sheerun/filelock
      [Sublime Wombat Theme]: http://github.com/sheerun/sublime-wombat-theme
      [Rails 4 Bootstrap]: http://github.com/sheerun/rails4-bootstrap
      [RSpec Gherkin]: http://github.com/sheerun/rspec-gherkin
      [Extension Auto Reloader]: https://chrome.google.com/webstore/detail/extension-auto-reloader/fbdbbpminhngjejgblbbpjapahknpcpk
      [Dotfiles]: http://github.com/sheerun/dotfiles
      [Rails Girls]: http://railsgirls.com/
      [Meet.js]: https://www.facebook.com/groups/meetjs.wroclaw/

  | You may want to read some of my posts:

  ul
    li
      h4
        a[href="https://coderwall.com/sheerun"]
          | My protips on the CoderWall
    |  {% for post in site.posts %} 
    li
      h4
        a[href="{{ post.url }}"]
          |  {{ post.title }} 
    |  {% endfor %} 
    li
      h4
        a[href="http://codetunes.com/2013/little-known-angular-directives/"]
          |  Little-known directives of Angular.js 
    li
      h4
        a[href="http://codetunes.com/2012/make-your-site-more-accessible/"]
          |  Make your site more accessible 
