---
layout: default
title: Home
---

.posts[style="margin-top: -2rem"]
  h1 Dear Visitor,

  markdown:

    My name is Adam Stankiewicz.

    I love Open Source. I develop or maintain following projects:

      - [Bower][] - frontend assets manager (core team member)
      - [Rails Assets][] - a proxy between Bower and Bundler
      - [GitHub Social][] - repository recommendations for GitHub
      - [Wordnet][] - a large network of words (Poland's official)
      - [Vim Polyglot][] - a solid language pack for Vim
      - [Vimrc][] - plugin serving as foundation of vim configuration
      - [S3 File Field][] - direct uploading to Amazon S3 using CORS
      - [Filelock][] - file locking solution using flock command
      - [Sublime Wombat Theme][] - pretty and configurable theme for ST3
      - [Rails 4 Bootstrap][] - properly configured Rails 4 application
      - [RSpec Gherkin][] - a semantic bridge between Gherkin and RSpec
      - [Extension Auto Reloader][] - for developing extensions in Chrome
      - [Dotfiles][] - Probably the best dotfiles on the web ;-)

    I'm available for hire as a freelancer ($2200/week). I also do consultations.

    [Here are some facts about me](/about/).

      [Monterail.com]: http://monterail.com
      [GitHub Social]: http://githubsocial.com
      [Bower]: http://bower.io
      [Wordnet]: https://github.com/wordnet/wordnet
      [Rails Assets]: http://github.com/rails-assets/rails-assets
      [Vim Polyglot]: http://github.com/sheerun/vim-polyglot
      [Vimrc]: http://github.com/sheerun/vimrc
      [S3 File Field]: http://github.com/sheerun/s3-file-field
      [Filelock]: http://github.com/sheerun/filelock
      [Sublime Wombat Theme]: http://github.com/sheerun/sublime-wombat-theme
      [Rails 4 Bootstrap]: http://github.com/sheerun/rails4-bootstrap
      [RSpec Gherkin]: http://github.com/sheerun/rspec-gherkin
      [Extension Auto Reloader]: https://chrome.google.com/webstore/detail/extension-auto-reloader/fbdbbpminhngjejgblbbpjapahknpcpk
      [Dotfiles]: http://github.com/sheerun/dotfiles
      [Rails Girls]: http://railsgirls.com/
      [Meet.js]: https://www.facebook.com/groups/meetjs.wroclaw/

  p I don't write much, but you may want to read some of my blogposts:

  ul
    li
      a[href="https://coderwall.com/sheerun"]
        | My protips on the CoderWall
    |  {% for post in site.posts %} 
    li
      a[href="{{ post.url }}"]
        |  {{ post.title }} 
    |  {% endfor %} 
    li
      a[href="http://codetunes.com/2013/little-known-angular-directives/"]
        |  Little-known directives of Angular.js 
    li
      a[href="http://codetunes.com/2012/make-your-site-more-accessible/"]
        |  Make your site more accessible 
