@media (max-width: 1180px) {
  .extra-content {
    display: none !important;
  }

  footer {
    background-image: url('/public/img/black.gif');
    height: 20px;
    background-position: right;
  }
}

@media (min-width: 1180px) {
  .header__text {
    text-align: center;
    padding-left: 20px;
  }
}

.sidebar {
  color: #eee;
  background-color: #1d1d1d;
  background-image: url('/public/img/black.gif');
}

.u__shadow {
  text-shadow: 0 0 4px black;
}

.hn-button {
  vertical-align: middle;
  margin-top: -4px;
  line-height: 2rem
}

.sticky-bottom {
  position: fixed;
  width: 277px;
  max-width: 277px;
  bottom: 40px;
  right: 42px;
}

.avatar-top {
  border-radius: 7px;
  border: 3px solid #333;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 20px;
}

.feedback-form__field {
  margin-bottom: 15px;
}

.feedback-form__input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  border: 1px dashed #bbb;
  padding: 5px;
  font-family: 'Lustiana';
}

.feedback-form__textarea {
  width: 100%;
  font-size: 1.5rem;
  border: 1px dashed #bbb;
  padding: 5px;
  min-height: 230px;
  font-family: 'Lustiana';
}

.feedback-form__button {
  width: 100%;
  height: 51px;
  padding: 0 10px;
  text-align: center;
  line-height: 20px;
  font-size: 1.2rem;
  background-color: #ddd;
  border: 2px solid #aaa;
  color: #222;
  float: right;
  cursor: pointer;
}

.header__go-home {
  position: relative;
  top: -25px;
}

.header__text a {
  text-decoration: none;
}

.header__text h1 {
  color: #f9f9f9;
}

.header__text h1:hover {
  color: #fff !important;
}

.sidebar__output {
  width: 100%;
  border: 0;
  background-color: white;
  color: black;
  font-size: 13px;
  margin: 0;
  white-space: pre-wrap;
}

.sidebar__console {
  position: relative;
  padding: 10px;
  width: 280px;
  height: 450px;
  border-radius: 5px;
  background-color: #fff;
  cursor: text;
  overflow-y: scroll;
}

.sidebar__output a {
  color: black;
  text-decoration: none;
}

.sidebar__output a:hover {
  border-bottom: 2px solid black;
}

.sidebar__textarea {
  font-family: Menlo, Monaco, "Courier New", monospace;
  border: 0;
  background-color: white;
  color: black;
  font-size: 13px;
  outline: 0;
  resize: none;
  width: 100%;
  overflow: hidden;
  height: 20px;
  padding: 0;
  margin: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}


.media--recommendation {
  margin-top: 40px;
}

.media--recommendation .media-object-container {
  border-radius: 50%;
  border: 5px solid #222;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.media--recommendation .media-object {
  height: 100%;
  margin: 0 auto;
}

.media--recommendation .media-body {
  font-size: 16px;
}

.media--recommendation .media-heading {
  font-style: italic;
}
