@media (max-width: 58rem) {
  .gravatar {
    width: 174px;
    height: 174px;
  }
}

@media (max-width: 48rem) {
  .gravatar {
    display: none
  }
}

.hn-share-iframe {
  vertical-align: middle;
  margin-top: -2px;
  line-height: 2.1rem
}
