@media (max-width: 64rem) {
  .extra-content {
    display: none !important;
  }

}

@media (min-width: 64rem) {
  .header__text {
    position: relative;
    left: 80px;
    top: -10px;
  }

  .sidebar {
    background-image: url('/public/background-v.jpg') !important;
    background-size: auto 120% !important;
  }
}

@media (max-height: 660px) {
  .bottom__texts {
    display: none;
  }
}

@media (max-height: 600px) {
  .rrssb-buttons {
    display: none;
  }
}


.sidebar {
  background-image: url('/public/background-h.jpg');
  background-size: 100% auto;
  color: white;
}

.u__shadow {
  text-shadow: 0 0 4px black;
}

.hn-button {
  vertical-align: middle;
  margin-top: -4px;
  line-height: 2rem
}

.sticky-bottom {
  position: fixed;
  width: 277px;
  max-width: 277px;
  bottom: 40px;
  right: 42px;
}

.avatar-top {
  border-radius: 7px;
  border: 3px solid #333;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 20px;
}

.feedback-form__field {
  margin-bottom: 15px;
}

.feedback-form__input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  border: 1px dashed #bbb;
  padding: 5px;
  font-family: 'Lustiana';
}

.feedback-form__textarea {
  width: 100%;
  font-size: 1.5rem;
  border: 1px dashed #bbb;
  padding: 5px;
  min-height: 200px;
  font-family: 'Lustiana';
}

.header__blog-name {
  color: black !important;
}

.header__go-home {
  position: relative;
  top: -25px;
}

