<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <div class="header__text">
        <a href="/">
          <img class="header__avatar extra-content" src="/public/img/avatar.jpg">
          <h1 class="header__blog-name u__shadow glow">
            sheerun
          </h1>
        </a>
      </div>
    </div>

<div class="sidebar__console extra-content">
<pre class="sidebar__output" id="output">$ cat info.json
{
  "name": "Adam Stankiewicz",
  "email": "<a href="mailto:sheerun@sher.pl">sheerun@sher.pl</a>",
  "twitter": "<a href="http://twitter.com/sheerun">@sheerun</a>",
  "github": "<a href="http://github.com/sheerun">sheerun</a>",
  "work": "Freelance",
  "location": "Earth",
  "interests": [
    "ruby",
    "javascript",
    "open source"
  ]
}

</pre>
<textarea id="prompt" class="sidebar__textarea" spellcheck="false">$ </textarea>
<script src="/public/js/console.js" async></script>
      </div>
  </div>
</div>
