---
layout: default
title: Home
---

.posts[style="margin-top: -2rem"]

  h1 Who is Adam Stankiewicz?

  img.pull-right src="/public/img/ruby200.png" width="80" height="80"

  markdown:

    ## Ruby and JavaScript Developer

    - Former Senior Developer in [Monterail.com](monterail.com) company.
    - Worked for for clients from all around the world.
    - Designed and developed both SPA and hybrid applications.
    - Usually works in Angular / Rails / PostgreSQL stack.
    - Established [git workflow](https://github.com/monterail/guidelines/blob/master/git.md) and many [guidelines](https://github.com/monterail/guidelines) for Monterail.
    - Encourages clear code, tests, and useful documentation.
    - Pretty good at designing UI. He's also a fine DevOp.

  img.pull-right src="/public/img/javascript200.png" width="80" height="80"

  markdown:

    ## Open Source contributor

    - Maintains and releases [Bower](https://bower.io).
    - Develops [Rails Assets](Rails Assets), [GitHub Social](http://githubsocial.com), [Wordnet](http://plwordnet.pwr.wroc.pl/wordnet/), and [more](http://sheerun.net).
    - Very active on [GitHub](https://github.com/sheerun). Much closed issues. Such Pull Requests.

    ## Learner and teacher

    - Passionate about educating myself and others.
    - Organizing [Meet.js Wrocław](https://www.facebook.com/groups/meetjs.wroclaw/) meetings.
    - Organizing [AngularJS Wrocław](https://www.facebook.com/groups/1553553724863428/) meetings.
    - Couched multiple times on [Rails Girls](http://railsgirls.com/) in Poland.
      
  h2 Recommendations

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img.media-object src="http://github.com/paulirish.png?size=200"

    .media-body
      markdown:
        Adam is without a doubt the most influential developer for Bower 
        in the past year. His contributions go beyond "fundamental". 
        His initiative and tendency to strive for quality show brightly 
        in his work for the project and its more than half a million regular users.

      .media-heading -- Paul Irish, Google Chrome

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img.media-object src="http://github.com/desandro.png?size=200"

    .media-body
      markdown:
        With his contributions to Bower open source project over the past year,
        I've been delighted to work with Adam. He stepped into a messy situation,
        and did plenty of dirty work to get the project back on track. 
        
        He's got the technical ability, submitting plenty of quality code revisions. 
        He has a great project management skills, working though issue lists. 
        In short, Adam gets things done.

      .media-heading -- David DeSandro, Twitter

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img.media-object src="http://github.com/teamon.png?size=200"

    .media-body
      markdown:
        Adam is definitely an extraordinary developer that not only has a lot of great ideas but what's even more important the persistence to make them happen. If if wasn't for Adam the rails-assets.org project wouldn't be such a success. He took something that started as an idea into solid product used by many Rails teams around the world. 

        Adam is a must-have person in any team - you can be sure that when he is around your ideas will not pass unquestioned. 

        Good-enough is never good enough. Adam will always try to dig deeper into a problem and solve it in the best way possible.

      .media-heading -- Tymon Tobolski, CTO of Monterail.com

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img class="media-object" src="https://github.com/szymo.png?size=200"

    .media-body
      markdown:
        Single-hearted problem solver — that’s Adam. He was a core member of our team for 3 years, during that time he set some of our highest and most regarded standards (such as our official guidelines) and processes. Always questioned the status quo and inspired everyone around to do so. He actively consulted in almost all areas of our organization bringing bold opinions and fresh insights. You could always tell if Adam was a part of a project — all stakeholders would notice his through and through decisions and pushing the technical boundaries. He left an immersive footprint on all of us and will be incredibly missed. However we are happy that the open source community has just gained a wholehearted individual and a true expert.
      .media-heading -- Szymon Boniecki, Co-owner of Monterail.com

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img class="media-object" src="https://github.com/bartoszpietrzak.png?size=200"

    .media-body
      markdown:
        Adam is a responsible and very neatly organized developer. 

        One of the biggest additional values is his grasp of everything inside and around the development process - be it understanding the business around the software or shaping the development process that suits the project best. 

        He's been a crucial part of Monterail's progress.
      .media-heading -- Bartosz Pietrzak, Co-Owner of Monterail.com

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img class="media-object" src="https://github.com/sainejob.png?size=200"

    .media-body
      markdown:
        Adam is an expert in several of our key technologies at Ruvixx. He has helped us develop our core architecture with Ruby on Rails and AngularJS and provided invaluable help when we needed it. I would recommend Adam to anyone with a technical challenge at hand. He's always willing to go the extra mile to reach the optimal solution.

      .media-heading -- Stephen Saine, Ruvixx, Inc.

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img.media-object src="http://github.com/hodak.png?size=200"

    .media-body
      markdown:

        Adam is, without doubt, one of the best developers I know. I owe him a lot - he was my mentor in Monterail and he basically introduced me (with success) to the world of Ruby on Rails. His strong engagement in Open Source Projects is the best proof that development is his passion. 

        If you look for someone who has outstanding knowledge, writes beautiful code and gets things done - that definitely sounds like him.

      .media-heading -- Adam Hodowany, Ruby and JavaScript developer at Monterail.com

  .media.media--recommendation
    .pull-left.media-object-container href="#"
      img.media-object src="http://github.com/porada.png?size=200"

    .media-body
      markdown:

        Together with Adam Stankiewicz, we’ve built and shipped multiple apps, 
        including some open-source projects. He’s one of the most clever 
        developers and out-of-the-box thinkers I’ve had the please to 
        work with and learn from.
        
        If you’re looking for a developer with fresh approach to software 
        who can share knowledge and make your company stand out at the open-source 
        field, it would be unwise not to give Adam a shot.

      .media-heading -- Dominik Porada, designer at Pilot

