---
layout: default
title: Home
---

.posts[style="margin-top: -2rem"]

  h1 Feedback about my work

  form action="http://forms.brace.io/sheerun@sher.pl"

    .feedback-form__field
      label Your name:
      input.feedback-form__input name="name"

    .feedback-form__field
      label Some kind, warm words :-)
      textarea.feedback-form__textarea name="body" 

    .feedback-form__field
      button type="submit" style="font-size: 1.3rem; background-color: #ccc; border: 2px solid #aaa; color: #222; padding: 10px 20px; float: right; cursor: pointer" Submit
